        <ul class="top">@if(Request.IsAuthenticated) {
                <li><=Welcome> <strong>@User.Identity.Name</strong>! @Html.ActionLink("<=LogOff>", "logoff", "account")</li>
            }
            else {
                <li>@Html.ActionLink("<=LogOn>", "logon", "account")</li>
                <li>@Html.ActionLink("<=Register>", "register", "account")</li>
            }
            <li><a href="@Url.Content("~/")feedback"><=Feedback></a></li>
            <li><select id="lang">
            <option value=""><=ChooesLang></option>
            <option value="zh-CN"@(ViewBag.Lang == "zh-CN" ? " selected" : "")>简体中文</option>
            <option value="zh-Hant"@(ViewBag.Lang == "zh-Hant" ? " selected" : "")>繁體中文</option>
            <option value="En"@(ViewBag.Lang == "En" ? " selected" : "")>English</option>
            </select></li>
        </ul>
        <script type="text/javascript">
            $('#lang').change(function () {
                var lang = $(this).val();
                if (lang != '') {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Content("~/")home/setlang',
                        data: { id: lang },
                        dataType: 'json',
                        async: false,
                        cache: false,
                        success: function () {
                            window.location.reload();
                        }
                    })
                }
            });
        </script>