                <b class="b1"></b><b class="b2 d1"></b><b class="b3 d1"></b><b class="b4 d1"></b>
                <div class="b d1">
                    <div class="content">
                        <h2>@ViewBag.TopPage.Name_pag</h2>
                        <ul class="list">@foreach(var item in ViewBag.ChilePages){
                            <li>
                                <a href="@(item.Code_pag.ToLower()).html">@item.Name_pag</a>@if(item.children!=null && item.children.Count>0){foreach(var citem in item.children){
                                <ul><li class="path3"><a href="@(citem.Code_pag.ToLower()).html">@citem.Name_pag</a></li></ul>}}
                            </li>}
                        </ul>
                    </div>
                </div>
                <b class="b4b d1"></b><b class="b3b d1"></b><b class="b2b d1"></b><b class="b1b"></b>