                <b class="b1"></b><b class="b2 d1"></b><b class="b3 d1"></b><b class="b4 d1"></b>
                <div class="b d1">
                    <div class="content">
                        <h2><=Product1></h2>
                        <ul class="list cpts">@{int i=0;foreach(var item in ViewBag.Products){i++;
                            <li>@i.<a href="@(item.Code_pag.ToLower()).html">@item.Name_pag</a>：
                                <p>@Html.Raw(item.Remark_pag)</p></li>}}
                        </ul>
                        <p class="more"><a href="@Url.Content("~/product.html")"><img src="@Url.Content("~/content/images/more.gif")" alt="more" /></a></p>
                    </div>
                </div>
                <b class="b4b d1"></b><b class="b3b d1"></b><b class="b2b d1"></b><b class="b1b"></b>