@{
    ViewBag.Title = ViewBag.Setting.Title_set;
    IList<MC.Model.Page_pag> HomePages = (IList<MC.Model.Page_pag>)ViewBag.HomePages;
    var whymes = HomePages.FirstOrDefault(p => p.Code_pag == "WhyMes");
    var experience = HomePages.FirstOrDefault(p => p.Code_pag == "Experience");
    var moresoft_Mes = HomePages.FirstOrDefault(p => p.Code_pag == "MS-MES");
}
        <div class="topcolumns">
            <div class="leftcolumn">
                <b class="b1"></b><b class="b2 d1"></b><b class="b3 d1"></b><b class="b4 d1"></b>
                <div class="b d1">
                    <div class="content">
                        <h2>@whymes.Name_pag</h2>
                        @Html.Raw(whymes.Remark_pag)
                        <p class="more"><a href="@Url.Content("~/whymes.html")"><img src="@Url.Content("~/content/images/more.gif")" alt="more" /></a></p>
                        <br />
                        <div class="area"><img src="@Url.Content("~/content/images/eg1.gif")" alt="为什么制造企业选择MS-MES解决方案"/></div>
                    </div>
                </div>
                <b class="b4b d1"></b><b class="b3b d1"></b><b class="b2b d1"></b><b class="b1b"></b>
            </div>
            <div class="rightcolumn">
                <div class="top">
                    <div class="leftcolumn">
                        <h2>我们的解决方案</h2>
                        <ul class="jjfa">
                            <li>→ 1</li>
                            <li>→ 2</li>
                            <li>→ 3</li>
                            <li>→ 4</li>
                            <li>→ 5</li>
                        </ul>
                        <p><img src="@Url.Content("~/content/images/eg2.gif")" alt="我们的解决方案" /></p>
                    </div>
                    <div class="rightcolumn">
                        <h2>我们覆盖的行业</h2>
                        <ul class="fghy">
                            <li class="icon1">电子行业</li>
                            <li class="icon2">五金行业</li>
                            <li class="icon3">包装印刷行业</li>
                        </ul>
                        <p><img src="@Url.Content("~/content/images/eg3.gif")" alt="我们覆盖的行业" /></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="bottom">
                    <div class="leftcolumn">
                        <h2>@moresoft_Mes.Name_pag</h2>
                        @Html.Raw(moresoft_Mes.Remark_pag)
                        <p class="more"><a href="@Url.Content("~/ms-mes.html")"><img src="@Url.Content("~/content/images/more.gif")" alt="more" /></a></p>
                    </div>
                    <div class="rightcolumn">
                        <h2>@experience.Name_pag</h2>
                        @Html.Raw(experience.Remark_pag)
                        <p class="more"><a href="@Url.Content("~/experience.html")"><img src="@Url.Content("~/content/images/more.gif")" alt="more" /></a></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="eg4">
            <img src="@Url.Content("~/content/images/eg4.gif")" alt="" />
        </div>
        <div class="buttomcolumns">
            <div class="leftcolumn">
                @Html.Partial("_Industry")
            </div>
            <div class="centercolumn">
                @Html.Partial("_Product")
            </div>
            <div class="rightcolumn">
                <b class="b1"></b><b class="b2 d1"></b><b class="b3 d1"></b><b class="b4 d1"></b>
                <div class="b d1">
                    <div class="content">
                        @Html.Partial("_Case")
                    </div>
                </div>
                <b class="b4b d1"></b><b class="b3b d1"></b><b class="b2b d1"></b><b class="b1b"></b>
            </div>
            <div class="clear"></div>
        </div>
