@{
    ViewBag.Title = ViewBag.Setting.Title_set;
    IList<MC.Model.Page_pag> HomePages = (IList<MC.Model.Page_pag>)ViewBag.HomePages;
    var whymes = HomePages.FirstOrDefault(p => p.Code_pag == "WhyMes");
    var experience = HomePages.FirstOrDefault(p => p.Code_pag == "Experience");
    var ms_Mes = HomePages.FirstOrDefault(p => p.Code_pag == "MS-MES");
    var industry = HomePages.FirstOrDefault(p => p.Code_pag == "Industry");
    var solution = HomePages.FirstOrDefault(p => p.Code_pag == "Solution");
}
        <div class="topcolumns">
            <div class="leftcolumn">
                <b class="b1"></b><b class="b2 d1"></b><b class="b3 d1"></b><b class="b4 d1"></b>
                <div class="b d1">
                    <div class="content">
                        <h2>@whymes.Name_pag</h2>
                        @Html.Raw(whymes.Remark_pag)
                        <p class="more"><a href="@Url.Content("~/whymes.html")"><img src="@Url.Content("~/content/images/more.gif")" alt="more" /></a></p>
                        <br />
                        <div class="area"><img src="@Url.Content("~/content/images/eg1.gif")" alt="@whymes.Name_pag"/></div>
                    </div>
                </div>
                <b class="b4b d1"></b><b class="b3b d1"></b><b class="b2b d1"></b><b class="b1b"></b>
            </div>
            <div class="rightcolumn">
                <div class="top">
                    <div class="leftcolumn">
                        <h2><a href="@Url.Content("~/solution.html")"><=MySolution></a></h2>
                        @Html.Raw(solution.Remark_pag)
                        <p><img src="@Url.Content("~/content/images/eg2.gif")" alt="<=MySolution>" /></p>
                    </div>
                    <div class="rightcolumn">
                        <h2><=MyIndustry></h2>
                        @Html.Raw(industry.Remark_pag)
                        <p><img src="@Url.Content("~/content/images/eg3.gif")" alt="<=MyIndustry>" /></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="bottom">
                    <div class="leftcolumn">
                        <h2>@ms_Mes.Name_pag</h2>
                        @Html.Raw(ms_Mes.Remark_pag)
                        <p class="more"><a href="@Url.Content("~/ms-mes.html")"><img src="@Url.Content("~/content/images/more.gif")" alt="more" /></a></p>
                    </div>
                    <div class="rightcolumn">
                        <h2>@experience.Name_pag</h2>
                        @Html.Raw(experience.Remark_pag)
                        <p class="more"><a href="@Url.Content("~/experience.html")"><img src="@Url.Content("~/content/images/more.gif")" alt="more" /></a></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="eg4">
            <img src="@Url.Content("~/content/images/eg4.gif")" alt="" />
        </div>
        <div class="buttomcolumns">
            <div class="leftcolumn">
                @Html.Partial("_Info")
            </div>
            <div class="centercolumn">
                @Html.Partial("_Product")
            </div>
            <div class="rightcolumn">
                @Html.Partial("_Case")
            </div>
            <div class="clear"></div>
        </div>
