@{
    ViewBag.Title = ViewBag.Setting.Title_set;
}
        <div class="topcolumns">
            <div class="leftcolumn">
                <b class="b1"></b><b class="b2 d1"></b><b class="b3 d1"></b><b class="b4 d1"></b>
                <div class="b d1">
                    <div class="content">
                        <h2>为什么制造企业选择MS-MES解决方案</h2>
                        <p>在复杂市场环境下依然能保障产品交付的企业倍受客户的青睐，成为e时代的“快鱼”，相反，制造执行力度很弱反应迟钝的企业则很容易被“快鱼”所食， 
                            MS-MES企业提供了一套可度量并提升其执行力的系统，让企业迅速成长为“快鱼”。</p>
                        <p>得益于SOA架构的MS-X基础业务平台，MS-MES提供了自演化能力的建模特性，采用螺旋式渐进的敏捷实施方法论，主动匹配并优化客户的业务过程，能显著降低系统部署风险，最大限度提升企业执行力，助其实现核心价值，并快速取得成功。</p>
                        <div class="area"><img src="@Url.Content("~/content/images/eg1.gif")" alt="为什么制造企业选择MS-MES解决方案"/></div>
                    </div>
                </div>
                <b class="b4b d1"></b><b class="b3b d1"></b><b class="b2b d1"></b><b class="b1b"></b>
            </div>
            <div class="rightcolumn">
                <div class="top">
                    <div class="leftcolumn">
                        <h2>我们的解决方案</h2>
                        <ul class="jjfa">
                            <li>→ 制造执行</li>
                            <li>→ 质量控制</li>
                            <li>→ 流程互通生产</li>
                            <li>→ 制造智能</li>
                            <li>→ 供应商质量</li>
                        </ul>
                        <p><img src="@Url.Content("~/content/images/eg2.gif")" alt="我们的解决方案" /></p>
                    </div>
                    <div class="rightcolumn">
                        <h2>我们覆盖的行业</h2>
                        <ul class="fghy">
                            <li class="icon1">医疗器械</li>
                            <li class="icon2">生物科学</li>
                            <li class="icon3">半导体</li>
                            <li class="icon4">太阳能</li>
                            <li class="icon5">电子</li>
                            <li class="icon6">金属制造</li>
                            <li class="icon7">外包服务</li>
                        </ul>
                        <p><img src="@Url.Content("~/content/images/eg3.gif")" alt="我们覆盖的行业" /></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="bottom">
                    <div class="leftcolumn">
                        <h2>欢迎选用MS-MES V2.0先进企业制造执行系统</h2>
                        <p>MS-MES构建于中国自有知识产权的基础业务平台之上，符合MESA/ 
                            ISA-S95标准，基于批次过程控制，以及企业建模技术，是企业内部物流、生产体系、品质部门的保障系统，为企业实现JIT拉动模式、Lean精益生产、6 
                            Sigma-TQM全面质量管理、RoHS/WEEE无害生产打下坚实的基础。 
                            MS-MES的同步数据采集技术应用于企业内部物流的全线追溯、制造工程配置、生产及品质过程控制，她能提升制造环节的透明度，填补了生产现场到计划系统间的“信息鸿沟”，为计划系统的再调整提供可以信赖的决策依据。</p>
                        <p class="more"><a href=""><img src="@Url.Content("~/content/images/more.gif")" alt="more" /></a></p>
                    </div>
                    <div class="rightcolumn">
                        <h2>MS-MES有助于企业实现如下4个核心价值：</h2>
                        <p><label>核心价值一:</label><br />直接提升制造执行力(交付能力).</p>
                        <p><label>核心价值二:</label><br />让生产以及物流环节透明、透明、更透明. </p>
                        <p><label>核心价值三:</label><br />尽可能地追根溯源.</p>
                        <p><label>核心价值四:</label><br />及时、准时、实时地把握变化，随需应变.</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="eg4">
            <img src="@Url.Content("~/content/images/eg4.gif")" alt="" />
        </div>
        <div class="buttomcolumns">
            <div class="leftcolumn">
                @Html.Partial("_Industry")
            </div>
            <div class="centercolumn">
                <b class="b1"></b><b class="b2 d1"></b><b class="b3 d1"></b><b class="b4 d1"></b>
                <div class="b d1">
                    <div class="content">
                        <h2>MS-MES产品体系</h2>
                        <ul class="list cpts">
                            <li>1.企业建模(Moduling)：
                                <p>企业对象建模、流程建模、系统基础架构建模。</p></li>
                            <li>2.计划排程(Scheduling)：
                                <p>独立的制造任务MO/WO管理、可实现基于资源的可视化任务排程、任务跟踪、任务调度。</p></li>
                            <li>3.批次跟踪(Lot Tracking)：
                                <p>实现从供应商开始贯穿生产全局的标准化物流批次管理、仓储管理、支持JIT方式拉动式入出库管理。</p></li>
                            <li>4.制造流程控制(Process Control )：
                                <p>实现任务启动、实时WIP看板、 工位配送、装配防错、批次精确追溯、资源/设备运作效率监控、能独立采集数据或与SCADA/PCS/PLC/FCS实时集成。</p></li>
                            <li>5.品质管理(QA/QC)：
                                <p>与测试系统实时集成、采集SPC关键数据、采集KPI以及5W+1H数据、提供专业分析手段。</p></li>
                            <li>6.数据集成(Data Integration)：
                                <p>包括主流的ERP、APS、SCM、LabVIEW、RFID、RF-PDA第三方系统集成。</p></li>
                            <li>7.数据发布(WEB Portal)：
                                <p>采用VS.NET的Web Portal的高效率报告发布系统,以及集成了工业级的BO报表发布工具，提供Web内核的视频看板(KanBan)发布系统。</p></li>
                            <li>8.管理驾驶仓(Dashboard)：
                                <p>由多组图型化运营指标(KPIs)的管理仪表板组成的管理驾驶仓，可直观的监控生产与品质实时状态，发现瓶颈为各层级的管理人员的正确决策提供依据。</p></li>
                        </ul>
                        <p class="more"><a href=""><img src="@Url.Content("~/content/images/more.gif")" alt="more" /></a></p>
                    </div>
                </div>
                <b class="b4b d1"></b><b class="b3b d1"></b><b class="b2b d1"></b><b class="b1b"></b>
            </div>
            <div class="rightcolumn">
                <b class="b1"></b><b class="b2 d1"></b><b class="b3 d1"></b><b class="b4 d1"></b>
                <div class="b d1">
                    <div class="content">
                        <h2>成功案例</h2>
                        <ul class="list">
                            <li>卡尔蔡司(光学)中国有限公司
                                <p>“MS-MES不仅降低了我们的成本， 还提高了我们
                                的数据采集范围和准确度，采集界面更加人性化，操作更简捷！” 卡尔蔡司制造经理兼MES项目经理Leon由衷地评价。</p></li>
                            <li>芜湖恒隆汽车转向系统有限公司导入MS-MES系统案例
                                <p>“MS-MES系统使我公司的生产活动完全受控，真正使产品质量得到保证，是我公司运营成功的关键所在！” 芜湖恒隆汽车转向系统有限公司的总经理: Mr. Han Yu Shen这样评价到。</p></li>
                            <li>日森科技(深圳)有限公司 全面导入MES实现 SMT-PCBA 追溯及流程控制应用案例
                                <p>“MS-MES系统使我公司的生产活动完全受控，真正使产品质量得到保证，是我公司运营成功的关键所在！” 芜湖恒隆汽车转向系统有限公司的总经理: Mr. Han Yu Shen这样评价到。</p></li>
                        </ul>
                        <p class="more"><a href=""><img src="@Url.Content("~/content/images/more.gif")" alt="more" /></a></p>
                    </div>
                </div>
                <b class="b4b d1"></b><b class="b3b d1"></b><b class="b2b d1"></b><b class="b1b"></b>
            </div>
            <div class="clear"></div>
        </div>
