@{
    ViewBag.Title = "公司新闻";
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        var New_Grid = $('#New_Grid').datagrid({
            title: '公司新闻', url: '@Url.Content("~/sysadmin/infoslist?Type_inf=1")', idField: 'ID_inf', rownumbers: true, animate: true, border: false, singleSelect: false,
            remoteSort: false, pagination: true, pageSize: 20, fit: true,
            frozenColumns: [[{ field: 'ck', checkbox: true }, { title: '标题', field: 'Title_inf', width: 400}]],
            columns: [[{ title: '点击率', field: 'Hits_inf', width: 60 }, { title: '作者', field: 'Author_inf', width: 100 },
                { title: '关键字', field: 'Keywords_inf', width: 300 },
                { title: '发布时间', field: 'CreateTime_inf_Str', width: 130, formatter: function (value, rec) {
                    return value.replace(/T/g, " ");
                }
                }
                ]],
            onDblClickRow: function (rowIndex, row) {
                addTab('new-' + row.ID_inf, '编辑公司新闻-' + row.Title_inf, '@Url.Content("~/sysadmin/newsdetail/")' + row.ID_inf, 'frame', 'icon icon-info');
                //New_Form.form('load', row); New_Form.url = 'Info.aspx?type=form&action=edit'; New_Dialog.dialog('open');
            },
            toolbar: [{
                id: 'btn_NewAdd_inf',
                text: '添加',
                iconCls: 'application_add',
                handler: function () {
                    addTab('new-0', '新增公司新闻', '@Url.Content("~/sysadmin/newsdetail/0")', 'frame', 'icon icon-info');
                    //New_Dialog.dialog('open'); New_Form.form('clear'); New_Form.url = 'Info.aspx?type=form&action=add';
                }
            }, '-', {
                id: 'btn_NewEdit_inf',
                text: '编辑',
                iconCls: 'application_edit',
                handler: function () {
                    var rows = New_Grid.datagrid('getSelections');
                    var num = rows.length;
                    if (num == 0) {
                        $.messager.alert('提示', '请选择一条记录进行操作!', 'info');
                        return;
                    }
                    else if (num > 1) {
                        $.messager.alert('提示', '您选择了多条记录,只能选择一条记录进行修改!', 'info');
                        return;
                    }
                    else {
                        addTab('new-' + rows[0].ID_inf, '编辑公司新闻-' + rows[0].Title_inf, '@Url.Content("~/sysadmin/newsdetail/")' + rows[0].ID_inf, 'frame', 'icon icon-info');
                        //New_Dialog.dialog('open');
                        //New_Form.form('load', rows[0]);
                        //New_Form.url = 'Info.aspx?type=form&action=edit';
                    }
                }
            }, '-', {
                id: 'btn_NewDelete_inf',
                text: '删除',
                iconCls: 'application_delete',
                handler: function () {
                    var ids = [];
                    var rows = New_Grid.datagrid('getSelections');
                    for (var i = 0; i < rows.length; i++) {
                        ids.push(rows[i].ID_inf);
                    }
                    if (ids.length > 0) {
                        $.messager.confirm('提示信息', '您确认要删除吗?', function (data) {
                            if (data) {
                                $.ajax({
                                    url: '@Url.Content("~/sysadmin/infosdelete/")' + ids.join(','),
                                    type: 'GET',
                                    timeout: 1000,
                                    error: function () {
                                        $.messager.alert('错误', '删除失败!', 'error');
                                    },
                                    success: function (data) {
                                        if (data.success) New_Grid.datagrid('reload');
                                        else $.messager.alert('错误', data.msg, 'error');
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.show({
                            title: '警告',
                            msg: '请先选择要删除的记录。'
                        });
                    }
                }
            }, '-', {
                id: 'btn_NewRefresh_inf',
                text: '刷新',
                iconCls: 'refresh',
                handler: function () {
                    New_Grid.datagrid('reload');
                }
            }
            ]
        });
    });
</script>
<div id="New_Grid">
</div>
