@{
    ViewBag.Title = "用户管理";
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        var Users_Grid = $('#Users_Grid').datagrid({
            title: '用户管理', rownumbers: true, animate: true, border: false, singleSelect: false,
            url: '@Url.Content("~/sysadmin/userslist")',
            idField: 'ID_usr',
            remoteSort: false, pagination: true, fit: true, pageSize: 20,
            frozenColumns: [[{ field: 'ck', checkbox: true }, { title: '用户名', field: 'UserName_usr', width: 200}]],
            columns: [[{ title: '邮箱', field: 'Email_usr', width: 250 }, { title: '登录次数', field: 'LoginNum_usr', width: 100 }]],
            onDblClickRow: function (rowIndex, row) { row.UserName_usr_Old = row.UserName_usr; Users_Form.form('load', row); Users_Form.url = '@Url.Content("~/sysadmin/userssave?a=edit")'; Users_Dialog.dialog('open'); },
            toolbar: [{
                id: 'btnAdd_usr',
                text: '添加',
                iconCls: 'application_add',
                handler: function () { Users_Dialog.dialog('open'); Users_Form.form('clear'); Users_Form.url = '@Url.Content("~/sysadmin/userssave?a=add")'; }
            }, '-', {
                id: 'btnEdit_usr',
                text: '编辑',
                iconCls: 'application_edit',
                handler: function () {
                    var rows = Users_Grid.datagrid('getSelections');
                    var num = rows.length;
                    if (num == 0) {
                        $.messager.alert('提示', '请选择一条记录进行操作!', 'info');
                        return;
                    }
                    else if (num > 1) {
                        $.messager.alert('提示', '您选择了多条记录,只能选择一条记录进行修改!', 'info');
                        return;
                    }
                    else {
                        Users_Dialog.dialog('open');
                        var row = rows[0];
                        row.UserName_usr_Old = row.UserName_usr;
                        Users_Form.form('load', row);
                        Users_Form.url = '@Url.Content("~/sysadmin/userssave?a=edit")';
                    }
                }
            }, '-', {
                id: 'btnDelete_usr',
                text: '删除',
                iconCls: 'application_delete',
                handler: function () {
                    var ids = [];
                    var rows = Users_Grid.datagrid('getSelections');
                    for (var i = 0; i < rows.length; i++) {
                        ids.push(rows[i].ID_usr);
                    }
                    if (ids.length > 0) {
                        $.messager.confirm('提示信息', '您确认要删除吗?', function (data) {
                            if (data) {
                                $.ajax({
                                    url: '@Url.Content("~/sysadmin/usersdelete/")' + ids.join(','),
                                    type: 'GET',
                                    timeout: 1000,
                                    error: function () {
                                        $.messager.alert('错误', '删除失败!', 'error');
                                    },
                                    success: function (data) {
                                        if (data.success) Users_Grid.datagrid('reload');
                                        else $.messager.alert('错误', data.msg, 'error');
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.show({
                            title: '警告',
                            msg: '请先选择要删除的记录。'
                        });
                    }
                }
            }, '-', {
                id: 'btnRefresh_usr',
                text: '刷新',
                iconCls: 'refresh',
                handler: function () {
                    Users_Grid.datagrid('reload');
                }
            }
                ]
        });
        var Users_Dialog = $('#Users_Dialog');
        var Users_Form = Users_Dialog.find('form');
        var Users_Form_Action = '';
        $('#btn_Users_Save').click(function () {
            if (Users_Form.form('validate')) {
                Users_Form.form('submit', {
                    url: Users_Form.url,
                    success: function (data) {
                        data = eval("(" + data + ")");
                        $.messager.alert('系统提示', data.msg, "info", function () {
                            if (data.success) { Users_Form.form('clear'); Users_Dialog.dialog('close'); Users_Grid.datagrid('reload'); }
                        });
                    }
                });
            }
        });
        $('#btn_Users_Cancel').click(function () {
            Users_Form.form('clear');
            Users_Dialog.dialog('close');
        });
    });
    </script>
    <div id="Users_Grid">
    </div>
    <div id="Users_Dialog" class="easyui-dialog" icon="icon icon-nav" closed="true"
        modal="true" style="width:600px;padding: 10px 30px;" title="关键字管理"
        buttons="#Users_buttons">
        <form id="Users_Form" method="post" action="">
        <table cellpadding="3">
            <tr>
                <td align="right">
                    用户名：
                </td>
                <td>
                    <input name="ID_usr" type="hidden" />
                    <input name="UserName_usr_Old" type="hidden" />
                    <input name="UserName_usr" type="text" class="easyui-validatebox frmText" required="true" style="width:200px;"
                        missingmessage="关键字必须填写" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    邮箱：
                </td>
                <td>
                    <input name="Email_usr" type="text" class="easyui-validatebox frmText" required="true" style="width:400px;"
                        missingmessage="URL必须填写" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    密码：
                </td>
                <td>
                    <input name="Password_usr" type="password" class="easyui-validatebox frmText" value="" />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="Users_buttons">
        <a id="btn_Users_Save" class="easyui-linkbutton" href="javascript:void(0)">确定</a>
        <a id="btn_Users_Cancel" class="easyui-linkbutton" href="javascript:void(0)">取消</a>
    </div>